body{
  height: inherit;
  width: auto;
}
form{
  height: 100%;
  width: 100%;
  background: rgb(255, 255, 255);
  border-radius: 30px;
  margin: 15px;
  padding: 40px;
}
.row{
  width: 500px;
  text-align: center;
  }

h2{
  height: auto;
  width: 500px;
  /* text-align: center; */
  margin-left: 400px;
}
.mnj{
  margin: 22px;
}
input[type=date]{
  height: 40px;
  width: 230px;
  margin-left: 20px;
  margin-bottom: 15px;
  margin-top: 15px;
  border-radius: 10px;
  background: #f4f6fa;
  border: transparent;
}
input[type=time]{
  height: 40px;
  width: 230px;
  margin-left: 20px;
  margin-bottom: 15px;
  margin-top: 15px;
  border-radius: 10px;
  background: #f4f6fa;
  border: transparent;
}
input[type=text]{
  margin-left: 88px;
  margin-bottom: 15px;
  margin-top: 15px;
  border-radius: 10px;
  background: #f4f6fa;
  border: transparent;
  height: 40px;
  width: 230px;
}
input[type=number]{
  margin-left: 115px;
  margin-bottom: 15px;
  margin-top: 15px;
  border-radius: 10px;
  background: #f4f6fa;
  border: transparent;
  height: 40px;
  width: 230px;
}
.www{
  margin-left: 115px;
  margin-bottom: 15px;
  border-radius: 10px;
  margin-top: 15px;
  background: #f4f6fa;
  border: transparent;
  padding-left: 129px;
}
input[type=submit]{
  margin-left: 400px;
  height: 40px;
  width: 170px;
  margin-bottom: 15px;
  margin-top: 15px;
  color: white;
  border-radius: 15px;
 background: #510cc1;
 border: transparent;
}
.jkl{
  margin-left: 77px;
  margin-bottom: 15px;
  border-radius: 10px;
  margin-top: 15px;
  border: transparent;
  height: 40px;
  width: 230px;
  background: #f4f6fa;
}
wwe{
  height: 40px;
  width: 80px;
  margin-top: -100px;
}
