body{
  height: inherit;
  width: auto;
}
form{
  height: 100%;
  width: 100%;
  background: rgb(255, 255, 255);
  border-radius: 30px;
  margin: 15px;
  padding: 40px;
}
.row{
  width: 500px;
  text-align: center;
  }

h2{
  height: auto;
  width: 500px;
  /* text-align: center; */
  margin-left: 400px;
}
.mnj{
  margin: 22px;
}
input[type=date]{
  padding-left: 10px;
  height: 40px;
  width: 230px;
  margin-left: 20px;
  margin-bottom: 15px;
  margin-top: 15px;
  border-radius: 10px;
  background: #f4f6fa;
  border: transparent;
}
input[type=time]{
  padding-left: 10px;
  height: 40px;
  width: 230px;
  margin-left: 20px;
  margin-bottom: 15px;
  margin-top: 15px;
  border-radius: 10px;
  background: #f4f6fa;
  border: transparent;
}
input[type=text]{
  padding-left: 9px;
  margin-left: 88px;
  margin-bottom: 15px;
  border-radius: 10px;
  background: #f4f6fa;
  border: transparent;
  height: 40px;
  width: 230px;
}
input[type=number]{
  padding-left: 9px;
  margin-left: 115px;
  margin-bottom: 15px;
  margin-top: 5px;
  border-radius: 10px;
  background: #f4f6fa;
  border: transparent;
  height: 40px;
  width: 230px;
}
.www{
  margin-left: 210px;
  height:100px;
  resize: none;
  width: 230px;
  margin-bottom: 15px;
  border-radius: 10px;
  margin-top: -50px;
  background: #f4f6fa;
  border: transparent;
  padding-left: 10px;
  padding-top:8px;

}
input[type=submit]{
  margin-left: 400px;
  height: 40px;
  width: 170px;
  margin-bottom: 15px;
  margin-top: 15px;
  color: white;
  border-radius: 15px;
 background: #510cc1;
 border: transparent;
}
.jkl{
  margin-left: 77px;
  border-radius: 10px;
  height: 40px;
  width: 280px;
  background: #f4f6fa;
}

p.wwe{
  height: 40px;
  width: 112px;
  margin-top: -25px;
  margin-left: 0px;
}
.mkj{
  margin-left: 210px;
  margin-top:-20px;
  margin-bottom: 15px;
}
@media screen and (max-width: 540px) {
  body {
    background: lightgreen;
  }
  .www{
    margin-left: 110px;
  }
  form{
    height: 100%;
    width: 95%;
  }
  h2{
     width: 00300px;
    /* text-align: center; */
    margin-left: 100px;
  }
  input[type=submit]{
    margin-left: 100px;
    
  }
  .mnj{
    height: 100%;
    width: 115%;
    font-size: large;
    margin-left:-25px;
    
    /* /* margin-left: 50px; */
  }
  .mkj{
    margin-left: 0px;
    margin-top:10px;
    margin-bottom: 15px;
  }
  p.wwe{
    height: 40px;
    width: 112px;
    margin-top: -25px;
   margin-left: 0px;
  }
  .www{
    margin-left: 0px;
    height:100px;
    resize: none;
    width: 450px;
    margin-bottom: 15px;
    border-radius: 10px;
    margin-top: -5px;
    background: #f4f6fa;
    border: transparent;
    padding-left: 10px;
    padding-top:8px;
  }
  input[type=text]{
    padding-left: -1px;
    margin-left: 0px;
    margin-bottom: 15px;
    border-radius: 10px;
    background: #f4f6fa;
    border: transparent;
    height: 40px;
    width: 450px;
  }
  input[type=number]{
    padding-left: -1px;
    margin-left: 0px;
    margin-bottom: 15px;
    margin-top: 5px;
    border-radius: 10px;
    background: #f4f6fa;
    border: transparent;
    height: 40px;
    width: 450px;
  }
  input[type=submit]{
    margin-left: 150px;
    height: 40px;
    width: 170px;
    margin-bottom: 15px;
    margin-top: 15px;
    color: white;
    border-radius: 15px;
   background: #510cc1;
   border: transparent;
  }
  input[type=date]{
    padding-left: 10px;
    height: 40px;
    width: 180px;
    margin-left: 68px;
    margin-bottom: 15px;
    margin-top: 15px;
    border-radius: 10px;
    background: #f4f6fa;
    border: transparent;
  }
  input[type=time]{
    padding-left: 10px;
    height: 40px;
    width: 180px;
    margin-left: 10px;
    margin-bottom: 15px;
   
    border-radius: 10px;
    background: #f4f6fa;
    border: transparent;
  }
  .jkl{
    margin-left: 0px;
    border-radius: 10px;
    height: 40px;
    width: 280px;
    background: #f4f6fa;
  }
  bootstrap-select {
    width: 530px;
}
}