body{
  height: inherit;
  width: auto;
}
form{
  height: 100%;
  width: 100%;
  background: rgb(255, 255, 255);
  border-radius: 30px;
  margin: 15px;
  padding: 40px;
}
.row{
  width: 500px;
  text-align: center;
  }

h2{
  height: auto;
  width: 500px;

  /* text-align: center; */
  margin-left: 400px;
}
div.complaint_form{
  margin: 22px;
}
input[type=date]{
  padding-left: 10px;
  height: 40px;
  width: 230px;
  margin-left: 20px;
  margin-bottom: 15px;
  /* margin-top: 15px; */
  border-radius: 10px;
  margin-left: 100px;
  background: #f4f6fa;
  border: transparent;
}
input[type=time]{
  padding-left: 10px;
  height: 40px;
  width: 230px;
  margin-left: 200px;
  /* margin-bottom: 15px; */
  /* margin-top: 15px; */
  border-radius: 10px;
  background: #f4f6fa;
  border: transparent;
}
input[type=text]{
  padding-left: 9px;
  margin-left: 88px;
  /* margin-bottom: 15px; */
  border-radius: 10px;
  background: #f4f6fa;
  border: transparent;
  height: 40px;
  width: 230px;
}
input[type=number]{
  padding-left: 9px;
  margin-left: 115px;
  /* margin-bottom: 15px; */
  /* margin-top: 5px; */
  border-radius: 10px;
  background: #f4f6fa;
  border: transparent;
  height: 40px;
  width: 230px;
}
.comp_des{
  margin-left: 200px;
  height:100px;
  resize: none;
  width: 230px;
  /* margin-bottom: 15px; */
  border-radius: 10px;
  margin-top: -50px;
  background: #f4f6fa;
  border: transparent;
  padding-left: 10px;
  padding-top:8px;

}
input[type=submit]{
  margin-left: 400px;
  height: 40px;
  width: 170px;
  /* margin-bottom: 15px; */
  /* margin-top: 15px; */
  color: white;
  border-radius: 15px;
 background: #510cc1;
 border: transparent;
}
.form_select{
  margin-left: 70px;
  border-radius: 10px;
  height: 40px;
  width: 280px;
  background: #f4f6fa;
  
}

p.lbl_des{
  height: 40px;
  width: 112px;
  /* margin-top: -25px; */
  margin-left: 0px;
}
div.comp_dropdown{
  margin-left: 200px;
  margin-top:-20px;
  /* margin-bottom: 15px;*/
}

div.form_group{
  height: auto;
  width: auto;
}
